* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  user-select: none;
}
html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-tap-highlight-color: transparent;
  background: url('../img/1.jpg')
    no-repeat center center / cover;
  background-attachment: fixed;
}

:root {
  --app-width: 500px;
  --header-height: 400px;
  --colorStart: rgba(0, 0, 0, 0.5);
  --colorStop: rgba(0, 0, 0, 0.5);
}

.container {
  max-width: var(--app-width);
  margin: 0 auto;
  
}

#app {
  overflow: auto;
  margin: auto;
  text-align: center;
  position: relative;
  
}

#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

/* .header {
  background: radial-gradient(var(--colorStart), var(--colorStop)),
  url("./../img/musical-notes-frame-with-text-space_1017-32857.jpg")
    no-repeat center / cover;
  border-radius: 0 0 30px 30px;
  padding: 10px;

} */

.bg {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  border-radius: 0 0 30px 30px;
  padding: 10px;
}

.fadeIn {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

#header #now-playing {
  color: #fff;
  font-weight: bold;
}

#header #title {
  font-weight: bold;
  color: #fff;
  margin: 5px 0;
}

#thumbnail {
  padding: 10px 0;
}

#thumbnail img {
  /* border-radius: 50%; */
  width: 200px;
  height: 200px;
  object-fit: cover;
  clip-path: circle();
}

.rotate {
  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

#controls {
  list-style: none;
  padding: 10px 0;
}

#controls li {
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  user-select: none;
  font-size: 1.5rem;
}

#controls input {
  cursor: pointer;
}

#controls #duration {
  display: block;
  margin: auto;
  width: 350px;
}

#playlist-wrapper {
  padding: 50px 0 10px;
  cursor: pointer;
  margin-top: calc(var(--header-height) - 50px);
  background-color: rgba(255, 255, 255, 0.1);
}

#playlist-wrapper .song {
  display: flex;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  /* background-color: #fff; */
  /* box-shadow: 0 1px 2px #333; */
}

#playlist-wrapper .song:hover {
  background-color: rgba(182, 182, 182, 0.3);
}

#playlist-wrapper .song img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.song-info {
  flex: 1;
  text-align: left;
  padding: 0 10px;
}
.song-info h3 {
  color: rgb(238, 227, 204);
}

.song-info span {
  color: rgba(255, 255, 255, 0.5);
}

.song.active {
  border: 1px solid rgb(143, 143, 143);
  background-color: rgba(255, 255, 255, 0.5);
}

/* .fa-play-circle,
.fa-pause-circle {
  color: #f81d92;
} */

li[id^="btn-"] {
  color: #fff;
}

li[id^="btn-"]:hover,
i[id^="btn-"]:active {
  color: #333;
}
/* Progress bar */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  /* background: #d3d3d3; */
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

/* Mouse-over effects */
input[type="range"]:hover {
  opacity: 1;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #f81d92;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #f81d92;
  border: none;
  border-radius: 50%;
}

input[type="range"]::-moz-range-progress {
  height: 50%;
  background-color: #f81d92;
  border: 2px solid #f81d92;
}

input[type="range"]::-webkit-range-progress {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background-color: #f81d92;
  height: 100%;
}
